# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [77]:
#importing libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
from datetime import datetime, timedelta

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
#launching a spark session
spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

Writing immigration data:
* spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
* spark.write.parquet("sas_data")

In [3]:
# Reading in the data
c = pd.read_csv("/Users/tatianatikhonova/Documents/udacity/Capstone/us-cities-demographics.csv", sep = ';')
a = pd.read_csv("/Users/tatianatikhonova/Documents/udacity/Capstone/airport-codes.csv", sep = ',')
immigration = spark.read.parquet("sas_data") 

#immigration sample
i = pd.read_csv("/Users/tatianatikhonova/Documents/udacity/Capstone/immigration_data_sample.csv", sep = ',')

---

### Reading in the data dictionary for Immigration

In [4]:

with open('./I94_SAS_Labels_Descriptions.SAS') as f:
    f_content = f.read()
    f_content = f_content.replace('\t', '')

def code_mapper(file, idx):
    f_content2 = f_content[f_content.index(idx):]
    f_content2 = f_content2[:f_content2.index(';')].split('\n')
    f_content2 = [i.replace("'", "") for i in f_content2]
    dic = [i.split('=') for i in f_content2[1:]]
    dic = dict([i[0].strip(), i[1].strip()] for i in dic if len(i) == 2)
    return dic

i94cit_res = code_mapper(f_content, "i94cntyl")
i94port = code_mapper(f_content, "i94prtl")
i94mode = code_mapper(f_content, "i94model")
i94addr = code_mapper(f_content, "i94addrl")
i94visa = {'1':'Business',
'2': 'Pleasure',
'3' : 'Student'}

In [5]:
#turning listo of ports into a dataframe with distinct columns
i94port_df = pd.DataFrame.from_dict(i94port, orient='index')
i94port_df.reset_index(level=0, inplace=True)
i94port_df.columns = ['Code','City_State']
i94port_df

    Code                    City_State
0    ALC                     ALCAN, AK
1    ANC                 ANCHORAGE, AK
2    BAR  BAKER AAF - BAKER ISLAND, AK
3    DAC             DALTONS CACHE, AK
4    PIZ    DEW STATION PT LAY DEW, AK
..   ...                           ...
655  ADU            No PORT Code (ADU)
656  AKT            No PORT Code (AKT)
657  LIT            No PORT Code (LIT)
658  A2A            No PORT Code (A2A)
659  OSN            No PORT Code (OSN)

[660 rows x 2 columns]

In [6]:
#splitting City_State column in two
i94port_df[['City', 'State','Else']] = i94port_df['City_State'].astype("string").str.split(', ', expand=True)
i94port_df.drop(['City_State', 'Else'], axis=1, inplace=True)
i94port_df

    Code                      City State
0    ALC                     ALCAN    AK
1    ANC                 ANCHORAGE    AK
2    BAR  BAKER AAF - BAKER ISLAND    AK
3    DAC             DALTONS CACHE    AK
4    PIZ    DEW STATION PT LAY DEW    AK
..   ...                       ...   ...
655  ADU        No PORT Code (ADU)  <NA>
656  AKT        No PORT Code (AKT)  <NA>
657  LIT        No PORT Code (LIT)  <NA>
658  A2A        No PORT Code (A2A)  <NA>
659  OSN        No PORT Code (OSN)  <NA>

[660 rows x 3 columns]

In [7]:
#Counting % of missing ports out of total. Turns out to be 9%
i94port_df.query('City.str.contains("No PORT")', engine='python').count() / i94port_df.shape[0]

Code     0.090909
City     0.090909
State    0.000000
dtype: float64

In [8]:
missing_ports_list = list(i94port_df.query('City.str.contains("No PORT")', engine='python').Code)

---

### Step 2: Explore and Assess the Data

What I will be looking out for:

* **Completeness** (do we have all the records that we need? any missing / NaaN?)
* **Validity** (records that don’t conform to a defined schema, e.g. negative height not possible but present or duplicate key identifier)
* **Accuracy** (adheres to define schema, but is incorrect; e.g. overestimated values or out of date information)
* **Consistency** (data valid and accurate, but fields are represented in an inconsistent manner, e.g. state as NY and New York)
* **Tidiness** (structure of tidy data: variable = column, observation = row, observational unit = table)

In [9]:
c.head(5)

        City         State  Median Age  Male Population  Female Population  Total Population  Number of Veterans  Foreign-born  Average Household Size State Code                               Race  Count
0    Wichita        Kansas        34.6         192354.0           197601.0            389955             23978.0       40270.0                    2.56         KS  American Indian and Alaska Native   8791
1      Allen  Pennsylvania        33.5          60626.0            59581.0            120207              5691.0       19652.0                    2.67         PA          Black or African-American  22304
2    Danbury   Connecticut        37.3          43435.0            41227.0             84662              3752.0       25675.0                    2.74         CT          Black or African-American   8454
3  Nashville     Tennessee        34.1         314231.0           340365.0            654596             27942.0       88193.0                    2.39         TN                 Hispanic or Latino  67526
4   Stamford   Connecticut        35.4          64941.0            63936.0            128877              2269.0       44003.0                    2.70         CT                              Asian  11013

In [10]:
a.head(5)

  ident           type                                name  elevation_ft continent iso_country iso_region  municipality gps_code iata_code local_code                            coordinates
0   00A       heliport                   Total Rf Heliport          11.0       NaN          US      US-PA      Bensalem      00A       NaN        00A     -74.93360137939453, 40.07080078125
1  00AA  small_airport                Aero B Ranch Airport        3435.0       NaN          US      US-KS         Leoti     00AA       NaN       00AA                 -101.473911, 38.704022
2  00AK  small_airport                        Lowell Field         450.0       NaN          US      US-AK  Anchor Point     00AK       NaN       00AK            -151.695999146, 59.94919968
3  00AL  small_airport                        Epps Airpark         820.0       NaN          US      US-AL       Harvest     00AL       NaN       00AL  -86.77030181884766, 34.86479949951172
4  00AR         closed  Newport Hospital & Clinic Heliport         237.0       NaN          US      US-AR       Newport      NaN       NaN        NaN                    -91.254898, 35.6087

In [11]:
i.head(5)

   Unnamed: 0      cicid   i94yr  i94mon  i94cit  i94res i94port  arrdate  i94mode i94addr  depdate  i94bir  i94visa  count  dtadfile visapost occup entdepa entdepd  entdepu matflag  biryear   dtaddto gender  insnum airline        admnum  fltno visatype
0     2027561  4084316.0  2016.0     4.0   209.0   209.0     HHW  20566.0      1.0      HI  20573.0    61.0      2.0    1.0  20160422      NaN   NaN       G       O      NaN       M   1955.0  07202016      F     NaN      JL  5.658267e+10  00782       WT
1     2171295  4422636.0  2016.0     4.0   582.0   582.0     MCA  20567.0      1.0      TX  20568.0    26.0      2.0    1.0  20160423      MTR   NaN       G       R      NaN       M   1990.0  10222016      M     NaN     *GA  9.436200e+10  XBLNG       B2
2      589494  1195600.0  2016.0     4.0   148.0   112.0     OGG  20551.0      1.0      FL  20571.0    76.0      2.0    1.0  20160407      NaN   NaN       G       O      NaN       M   1940.0  07052016      M     NaN      LH  5.578047e+10  00464       WT
3     2631158  5291768.0  2016.0     4.0   297.0   297.0     LOS  20572.0      1.0      CA  20581.0    25.0      2.0    1.0  20160428      DOH   NaN       G       O      NaN       M   1991.0  10272016      M     NaN      QR  9.478970e+10  00739       B2
4     3032257   985523.0  2016.0     4.0   111.0   111.0     CHM  20550.0      3.0      NY  20553.0    19.0      2.0    1.0  20160406      NaN   NaN       Z       K      NaN       M   1997.0  07042016      F     NaN     NaN  4.232257e+10   LAND       WT

In [12]:
i94port

{'ALC': 'ALCAN, AK',
 'ANC': 'ANCHORAGE, AK',
 'BAR': 'BAKER AAF - BAKER ISLAND, AK',
 'DAC': 'DALTONS CACHE, AK',
 'PIZ': 'DEW STATION PT LAY DEW, AK',
 'DTH': 'DUTCH HARBOR, AK',
 'EGL': 'EAGLE, AK',
 'FRB': 'FAIRBANKS, AK',
 'HOM': 'HOMER, AK',
 'HYD': 'HYDER, AK',
 'JUN': 'JUNEAU, AK',
 '5KE': 'KETCHIKAN, AK',
 'KET': 'KETCHIKAN, AK',
 'MOS': 'MOSES POINT INTERMEDIATE, AK',
 'NIK': 'NIKISKI, AK',
 'NOM': 'NOM, AK',
 'PKC': 'POKER CREEK, AK',
 'ORI': 'PORT LIONS SPB, AK',
 'SKA': 'SKAGWAY, AK',
 'SNP': 'ST. PAUL ISLAND, AK',
 'TKI': 'TOKEEN, AK',
 'WRA': 'WRANGELL, AK',
 'HSV': 'MADISON COUNTY - HUNTSVILLE, AL',
 'MOB': 'MOBILE, AL',
 'LIA': 'LITTLE ROCK, AR (BPS)',
 'ROG': 'ROGERS ARPT, AR',
 'DOU': 'DOUGLAS, AZ',
 'LUK': 'LUKEVILLE, AZ',
 'MAP': 'MARIPOSA AZ',
 'NAC': 'NACO, AZ',
 'NOG': 'NOGALES, AZ',
 'PHO': 'PHOENIX, AZ',
 'POR': 'PORTAL, AZ',
 'SLU': 'SAN LUIS, AZ',
 'SAS': 'SASABE, AZ',
 'TUC': 'TUCSON, AZ',
 'YUI': 'YUMA, AZ',
 'AND': 'ANDRADE, CA',
 'BUR': 'BURBANK, CA',
 'CAL': 'CALEXICO, CA',
 'CAO': 'CAMPO, CA',
 'FRE': 'FRESNO, CA',
 'ICP': 'IMPERIAL COUNTY, CA',
 'LNB': 'LONG BEACH, CA',
 'LOS': 'LOS ANGELES, CA',
 'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA',
 'OAK': 'OAKLAND, CA',
 'ONT': 'ONTARIO, CA',
 'OTM': 'OTAY MESA, CA',
 'BLT': 'PACIFIC, HWY. STATION, CA',
 'PSP': 'PALM SPRINGS, CA',
 'SAC': 'SACRAMENTO, CA',
 'SLS': 'SALINAS, CA (BPS)',
 'SDP': 'SAN DIEGO, CA',
 'SFR': 'SAN FRANCISCO, CA',
 'SNJ': 'SAN JOSE, CA',
 'SLO': 'SAN LUIS OBISPO, CA',
 'SLI': 'SAN LUIS OBISPO, CA (BPS)',
 'SPC': 'SAN PEDRO, CA',
 'SYS': 'SAN YSIDRO, CA',
 'SAA': 'SANTA ANA, CA',
 'STO': 'STOCKTON, CA (BPS)',
 'TEC': 'TECATE, CA',
 'TRV': 'TRAVIS-AFB, CA',
 'APA': 'ARAPAHOE COUNTY, CO',
 'ASE': 'ASPEN, CO #ARPT',
 'COS': 'COLORADO SPRINGS, CO',
 'DEN': 'DENVER, CO',
 'DRO': 'LA PLATA - DURANGO, CO',
 'BDL': 'BRADLEY INTERNATIONAL, CT',
 'BGC': 'BRIDGEPORT, CT',
 'GRT': 'GROTON, CT',
 'HAR': 'HARTFORD, CT',
 'NWH': 'NEW HAVEN, CT',
 'NWL': 'NEW LONDON, CT',
 'TST': 'NEWINGTON DATA CENTER TEST, CT',
 'WAS': 'WASHINGTON DC',
 'DOV': 'DOVER AFB, DE',
 'DVD': 'DOVER-AFB, DE',
 'WLL': 'WILMINGTON, DE',
 'BOC': 'BOCAGRANDE, FL',
 'SRQ': 'BRADENTON - SARASOTA, FL',
 'CAN': 'CAPE CANAVERAL, FL',
 'DAB': 'DAYTONA BEACH INTERNATIONAL, FL',
 'FRN': 'FERNANDINA, FL',
 'FTL': 'FORT LAUDERDALE, FL',
 'FMY': 'FORT MYERS, FL',
 'FPF': 'FORT PIERCE, FL',
 'HUR': 'HURLBURT FIELD, FL',
 'GNV': 'J R ALISON MUNI - GAINESVILLE, FL',
 'JAC': 'JACKSONVILLE, FL',
 'KEY': 'KEY WEST, FL',
 'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL',
 'MLB': 'MELBOURNE, FL',
 'MIA': 'MIAMI, FL',
 'APF': 'NAPLES, FL #ARPT',
 'OPF': 'OPA LOCKA, FL',
 'ORL': 'ORLANDO, FL',
 'PAN': 'PANAMA CITY, FL',
 'PEN': 'PENSACOLA, FL',
 'PCF': 'PORT CANAVERAL, FL',
 'PEV': 'PORT EVERGLADES, FL',
 'PSJ': 'PORT ST JOE, FL',
 'SFB': 'SANFORD, FL',
 'SGJ': 'ST AUGUSTINE ARPT, FL',
 'SAU': 'ST AUGUSTINE, FL',
 'FPR': 'ST LUCIE COUNTY, FL',
 'SPE': 'ST PETERSBURG, FL',
 'TAM': 'TAMPA, FL',
 'WPB': 'WEST PALM BEACH, FL',
 'ATL': 'ATLANTA, GA',
 'BRU': 'BRUNSWICK, GA',
 'AGS': 'BUSH FIELD - AUGUSTA, GA',
 'SAV': 'SAVANNAH, GA',
 'AGA': 'AGANA, GU',
 'HHW': 'HONOLULU, HI',
 'OGG': 'KAHULUI - MAUI, HI',
 'KOA': 'KEAHOLE-KONA, HI',
 'LIH': 'LIHUE, HI',
 'CID': 'CEDAR RAPIDS/IOWA CITY, IA',
 'DSM': 'DES MOINES, IA',
 'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID',
 'EPI': 'EASTPORT, ID',
 'IDA': 'FANNING FIELD - IDAHO FALLS, ID',
 'PTL': 'PORTHILL, ID',
 'SPI': 'CAPITAL - SPRINGFIELD, IL',
 'CHI': 'CHICAGO, IL',
 'DPA': 'DUPAGE COUNTY, IL',
 'PIA': 'GREATER PEORIA, IL',
 'RFD': 'GREATER ROCKFORD, IL',
 'UGN': 'MEMORIAL - WAUKEGAN, IL',
 'GAR': 'GARY, IN',
 'HMM': 'HAMMOND, IN',
 'INP': 'INDIANAPOLIS, IN',
 'MRL': 'MERRILLVILLE, IN',
 'SBN': 'SOUTH BEND, IN',
 'ICT': 'MID-CONTINENT - WITCHITA, KS',
 'LEX': 'BLUE GRASS - LEXINGTON, KY',
 'LOU': 'LOUISVILLE, KY',
 'BTN': 'BATON ROUGE, LA',
 'LKC': 'LAKE CHARLES, LA',
 'LAK': 'LAKE CHARLES, LA (BPS)',
 'MLU': 'MONROE, LA',
 'MGC': 'MORGAN CITY, LA',
 'NOL': 'NEW ORLEANS, LA',
 'BOS': 'BOSTON, MA',
 'GLO': 'GLOUCESTER, MA',
 'BED': 'HANSCOM FIELD - BEDFORD, MA',
 'LYN': 'LYNDEN, WA',
 'ADW': 'ANDREWS AFB, MD',
 'BAL': 'BALTIMORE, MD',
 'MKG': 'MUSKEGON, MD',
 'PAX': 'PATUXENT RIVER, MD',
 'BGM': 'BANGOR, ME',
 'BOO': 'BOOTHBAY HARBOR, ME',
 'BWM': 'BRIDGEWATER, ME',
 'BCK': 'BUCKPORT, ME',
 'CLS': 'CALAIS, ME',
 'CRB': 'CARIBOU, ME',
 'COB': 'COBURN GORE, ME',
 'EST': 'EASTCOURT, ME',
 'EPT': 'EASTPORT MUNICIPAL, ME',
 'EPM': 'EASTPORT, ME',
 'FOR': 'FOREST CITY, ME',
 'FTF': 'FORT FAIRFIELD, ME',
 'FTK': 'FORT KENT, ME',
 'HML': 'HAMIIN, ME',
 'HTM': 'HOULTON, ME',
 'JKM': 'JACKMAN, ME',
 'KAL': 'KALISPEL, MT',
 'LIM': 'LIMESTONE, ME',
 'LUB': 'LUBEC, ME',
 'MAD': 'MADAWASKA, ME',
 'POM': 'PORTLAND, ME',
 'RGM': 'RANGELEY, ME (BPS)',
 'SBR': 'SOUTH BREWER, ME',
 'SRL': 'ST AURELIE, ME',
 'SPA': 'ST PAMPILE, ME',
 'VNB': 'VAN BUREN, ME',
 'VCB': 'VANCEBORO, ME',
 'AGN': 'ALGONAC, MI',
 'ALP': 'ALPENA, MI',
 'BCY': 'BAY CITY, MI',
 'DET': 'DETROIT, MI',
 'GRP': 'GRAND RAPIDS, MI',
 'GRO': 'GROSSE ISLE, MI',
 'ISL': 'ISLE ROYALE, MI',
 'MRC': 'MARINE CITY, MI',
 'MRY': 'MARYSVILLE, MI',
 'PTK': 'OAKLAND COUNTY - PONTIAC, MI',
 'PHU': 'PORT HURON, MI',
 'RBT': 'ROBERTS LANDING, MI',
 'SAG': 'SAGINAW, MI',
 'SSM': 'SAULT STE. MARIE, MI',
 'SCL': 'ST CLAIR, MI',
 'YIP': 'WILLOW RUN - YPSILANTI, MI',
 'BAU': 'BAUDETTE, MN',
 'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN',
 'GTF': 'Collapsed into INT, MN',
 'INL': 'Collapsed into INT, MN',
 'CRA': 'CRANE LAKE, MN',
 'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN',
 'DUL': 'DULUTH, MN',
 'ELY': 'ELY, MN',
 'GPM': 'GRAND PORTAGE, MN',
 'SVC': 'GRANT COUNTY - SILVER CITY, MN',
 'INT': 'INTL FALLS, MN',
 'LAN': 'LANCASTER, MN',
 'MSP': 'MINN./ST PAUL, MN',
 'LIN': 'NORTHERN SVC CENTER, MN',
 'NOY': 'NOYES, MN',
 'PIN': 'PINE CREEK, MN',
 '48Y': 'PINECREEK BORDER ARPT, MN',
 'RAN': 'RAINER, MN',
 'RST': 'ROCHESTER, MN',
 'ROS': 'ROSEAU, MN',
 'SPM': 'ST PAUL, MN',
 'WSB': 'WARROAD INTL, SPB, MN',
 'WAR': 'WARROAD, MN',
 'KAN': 'KANSAS CITY, MO',
 'SGF': 'SPRINGFIELD-BRANSON, MO',
 'STL': 'ST LOUIS, MO',
 'WHI': 'WHITETAIL, MT',
 'WHM': 'WILD HORSE, MT',
 'GPT': 'BILOXI REGIONAL, MS',
 'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS',
 'GUL': 'GULFPORT, MS',
 'PAS': 'PASCAGOULA, MS',
 'JAN': 'THOMPSON FIELD - JACKSON, MS',
 'BIL': 'BILLINGS, MT',
 'BTM': 'BUTTE, MT',
 'CHF': 'CHIEF MT, MT',
 'CTB': 'CUT BANK MUNICIPAL, MT',
 'CUT': 'CUT BANK, MT',
 'DLB': 'DEL BONITA, MT',
 'EUR': 'EUREKA, MT (BPS)',
 'BZN': 'GALLATIN FIELD - BOZEMAN, MT',
 'FCA': 'GLACIER NATIONAL PARK, MT',
 'GGW': 'GLASGOW, MT',
 'GRE': 'GREAT FALLS, MT',
 'HVR': 'HAVRE, MT',
 'HEL': 'HELENA, MT',
 'LWT': 'LEWISTON, MT',
 'MGM': 'MORGAN, MT',
 'OPH': 'OPHEIM, MT',
 'PIE': 'PIEGAN, MT',
 'RAY': 'RAYMOND, MT',
 'ROO': 'ROOSVILLE, MT',
 'SCO': 'SCOBEY, MT',
 'SWE': 'SWEETGTASS, MT',
 'TRL': 'TRIAL CREEK, MT',
 'TUR': 'TURNER, MT',
 'WCM': 'WILLOW CREEK, MT',
 'CLT': 'CHARLOTTE, NC',
 'FAY': 'FAYETTEVILLE, NC',
 'MRH': 'MOREHEAD CITY, NC',
 'FOP': 'MORRIS FIELDS AAF, NC',
 'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC',
 'RDU': 'RALEIGH/DURHAM, NC',
 'SSC': 'SHAW AFB - SUMTER, NC',
 'WIL': 'WILMINGTON, NC',
 'AMB': 'AMBROSE, ND',
 'ANT': 'ANTLER, ND',
 'CRY': 'CARBURY, ND',
 'DNS': 'DUNSEITH, ND',
 'FAR': 'FARGO, ND',
 'FRT': 'FORTUNA, ND',
 'GRF': 'GRAND FORKS, ND',
 'HNN': 'HANNAH, ND',
 'HNS': 'HANSBORO, ND',
 'MAI': 'MAIDA, ND',
 'MND': 'MINOT, ND',
 'NEC': 'NECHE, ND',
 'NOO': 'NOONAN, ND',
 'NRG': 'NORTHGATE, ND',
 'PEM': 'PEMBINA, ND',
 'SAR': 'SARLES, ND',
 'SHR': 'SHERWOOD, ND',
 'SJO': 'ST JOHN, ND',
 'WAL': 'WALHALLA, ND',
 'WHO': 'WESTHOPE, ND',
 'WND': 'WILLISTON, ND',
 'OMA': 'OMAHA, NE',
 'LEB': 'LEBANON, NH',
 'MHT': 'MANCHESTER, NH',
 'PNH': 'PITTSBURG, NH',
 'PSM': 'PORTSMOUTH, NH',
 'BYO': 'BAYONNE, NJ',
 'CNJ': 'CAMDEN, NJ',
 'HOB': 'HOBOKEN, NJ',
 'JER': 'JERSEY CITY, NJ',
 'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ',
 'MMU': 'MORRISTOWN, NJ',
 'NEW': 'NEWARK/TETERBORO, NJ',
 'PER': 'PERTH AMBOY, NJ',
 'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ',
 'ALA': 'ALAMAGORDO, NM (BPS)',
 'ABQ': 'ALBUQUERQUE, NM',
 'ANP': 'ANTELOPE WELLS, NM',
 'CRL': 'CARLSBAD, NM',
 'COL': 'COLUMBUS, NM',
 'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM',
 'DNM': 'DEMING, NM (BPS)',
 'LAS': 'LAS CRUCES, NM',
 'LOB': 'LORDSBURG, NM (BPS)',
 'RUI': 'RUIDOSO, NM',
 'STR': 'SANTA TERESA, NM',
 'RNO': 'CANNON INTL - RENO/TAHOE, NV',
 'FLX': 'FALLON MUNICIPAL AIRPORT, NV',
 'LVG': 'LAS VEGAS, NV',
 'REN': 'RENO, NV',
 'ALB': 'ALBANY, NY',
 'AXB': 'ALEXANDRIA BAY, NY',
 'BUF': 'BUFFALO, NY',
 'CNH': 'CANNON CORNERS, NY',
 'CAP': 'CAPE VINCENT, NY',
 'CHM': 'CHAMPLAIN, NY',
 'CHT': 'CHATEAUGAY, NY',
 'CLA': 'CLAYTON, NY',
 'FTC': 'FORT COVINGTON, NY',
 'LAG': 'LA GUARDIA, NY',
 'LEW': 'LEWISTON, NY',
 'MAS': 'MASSENA, NY',
 'MAG': 'MCGUIRE AFB, NY',
 'MOO': 'MOORES, NY',
 'MRR': 'MORRISTOWN, NY',
 'NYC': 'NEW YORK, NY',
 'NIA': 'NIAGARA FALLS, NY',
 'OGD': 'OGDENSBURG, NY',
 'OSW': 'OSWEGO, NY',
 'ELM': 'REGIONAL ARPT - HORSEHEAD, NY',
 'ROC': 'ROCHESTER, NY',
 'ROU': 'ROUSES POINT, NY',
 'SWF': 'STEWART - ORANGE CNTY, NY',
 'SYR': 'SYRACUSE, NY',
 'THO': 'THOUSAND ISLAND BRIDGE, NY',
 'TRO': 'TROUT RIVER, NY',
 'WAT': 'WATERTOWN, NY',
 'HPN': 'WESTCHESTER - WHITE PLAINS, NY',
 'WRB': 'WHIRLPOOL BRIDGE, NY',
 'YOU': 'YOUNGSTOWN, NY',
 'AKR': 'AKRON, OH',
 'ATB': 'ASHTABULA, OH',
 'CIN': 'CINCINNATI, OH',
 'CLE': 'CLEVELAND, OH',
 'CLM': 'COLUMBUS, OH',
 'LOR': 'LORAIN, OH',
 'MBO': 'MARBLE HEADS, OH',
 'SDY': 'SANDUSKY, OH',
 'TOL': 'TOLEDO, OH',
 'OKC': 'OKLAHOMA CITY, OK',
 'TUL': 'TULSA, OK',
 'AST': 'ASTORIA, OR',
 'COO': 'COOS BAY, OR',
 'HIO': 'HILLSBORO, OR',
 'MED': 'MEDFORD, OR',
 'NPT': 'NEWPORT, OR',
 'POO': 'PORTLAND, OR',
 'PUT': 'PUT-IN-BAY, OH',
 'RDM': 'ROBERTS FIELDS - REDMOND, OR',
 'ERI': 'ERIE, PA',
 'MDT': 'HARRISBURG, PA',
 'HSB': 'HARRISONBURG, PA',
 'PHI': 'PHILADELPHIA, PA',
 'PIT': 'PITTSBURG, PA',
 'AGU': 'AGUADILLA, PR',
 'BQN': 'BORINQUEN - AGUADILLO, PR',
 'JCP': 'CULEBRA - BENJAMIN RIVERA, PR',
 'ENS': 'ENSENADA, PR',
 'FAJ': 'FAJARDO, PR',
 'HUM': 'HUMACAO, PR',
 'JOB': 'JOBOS, PR',
 'MAY': 'MAYAGUEZ, PR',
 'PON': 'PONCE, PR',
 'PSE': 'PONCE-MERCEDITA, PR',
 'SAJ': 'SAN JUAN, PR',
 'VQS': 'VIEQUES-ARPT, PR',
 'PRO': 'PROVIDENCE, RI',
 'PVD': 'THEODORE FRANCIS - WARWICK, RI',
 'CHL': 'CHARLESTON, SC',
 'CAE': 'COLUMBIA, SC #ARPT',
 'GEO': 'GEORGETOWN, SC',
 'GSP': 'GREENVILLE, SC',
 'GRR': 'GREER, SC',
 'MYR': 'MYRTLE BEACH, SC',
 'SPF': 'BLACK HILLS, SPEARFISH, SD',
 'HON': 'HOWES REGIONAL ARPT - HURON, SD',
 'SAI': 'SAIPAN, SPN',
 'TYS': 'MC GHEE TYSON - ALCOA, TN',
 'MEM': 'MEMPHIS, TN',
 'NSV': 'NASHVILLE, TN',
 'TRI': 'TRI CITY ARPT, TN',
 'ADS': 'ADDISON AIRPORT- ADDISON, TX',
 'ADT': 'AMISTAD DAM, TX',
 'ANZ': 'ANZALDUAS, TX',
 'AUS': 'AUSTIN, TX',
 'BEA': 'BEAUMONT, TX',
 'BBP': 'BIG BEND PARK, TX (BPS)',
 'SCC': 'BP SPEC COORD. CTR, TX',
 'BTC': 'BP TACTICAL UNIT, TX',
 'BOA': 'BRIDGE OF AMERICAS, TX',
 'BRO': 'BROWNSVILLE, TX',
 'CRP': 'CORPUS CHRISTI, TX',
 'DAL': 'DALLAS, TX',
 'DLR': 'DEL RIO, TX',
 'DNA': 'DONNA, TX',
 'EGP': 'EAGLE PASS, TX',
 'ELP': 'EL PASO, TX',
 'FAB': 'FABENS, TX',
 'FAL': 'FALCON HEIGHTS, TX',
 'FTH': 'FORT HANCOCK, TX',
 'AFW': 'FORT WORTH ALLIANCE, TX',
 'FPT': 'FREEPORT, TX',
 'GAL': 'GALVESTON, TX',
 'HLG': 'HARLINGEN, TX',
 'HID': 'HIDALGO, TX',
 'HOU': 'HOUSTON, TX',
 'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX',
 'LLB': 'JUAREZ-LINCOLN BRIDGE, TX',
 'LCB': 'LAREDO COLUMBIA BRIDGE, TX',
 'LRN': 'LAREDO NORTH, TX',
 'LAR': 'LAREDO, TX',
 'LSE': 'LOS EBANOS, TX',
 'IND': 'LOS INDIOS, TX',
 'LOI': 'LOS INDIOS, TX',
 'MRS': 'MARFA, TX (BPS)',
 'MCA': 'MCALLEN, TX',
 'MAF': 'ODESSA REGIONAL, TX',
 'PDN': 'PASO DEL NORTE,TX',
 'PBB': 'PEACE BRIDGE, NY',
 'PHR': 'PHARR, TX',
 'PAR': 'PORT ARTHUR, TX',
 'ISB': 'PORT ISABEL, TX',
 'POE': 'PORT OF EL PASO, TX',
 'PRE': 'PRESIDIO, TX',
 'PGR': 'PROGRESO, TX',
 'RIO': 'RIO GRANDE CITY, TX',
 'ROM': 'ROMA, TX',
 'SNA': 'SAN ANTONIO, TX',
 'SNN': 'SANDERSON, TX',
 'VIB': 'VETERAN INTL BRIDGE, TX',
 'YSL': 'YSLETA, TX',
 'CHA': 'CHARLOTTE AMALIE, VI',
 'CHR': 'CHRISTIANSTED, VI',
 'CRU': 'CRUZ BAY, ST JOHN, VI',
 'FRK': 'FREDERIKSTED, VI',
 'STT': 'ST THOMAS, VI',
 'LGU': 'CACHE AIRPORT - LOGAN, UT',
 'SLC': 'SALT LAKE CITY, UT',
 'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA',
 'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA',
 'HOP': 'HOPEWELL, VA',
 'HEF': 'MANASSAS, VA #ARPT',
 'NWN': 'NEWPORT, VA',
 'NOR': 'NORFOLK, VA',
 'RCM': 'RICHMOND, VA',
 'ABS': 'ALBURG SPRINGS, VT',
 'ABG': 'ALBURG, VT',
 'BEB': 'BEEBE PLAIN, VT',
 'BEE': 'BEECHER FALLS, VT',
 'BRG': 'BURLINGTON, VT',
 'CNA': 'CANAAN, VT',
 'DER': 'DERBY LINE, VT (I-91)',
 'DLV': 'DERBY LINE, VT (RT. 5)',
 'ERC': 'EAST RICHFORD, VT',
 'HIG': 'HIGHGATE SPRINGS, VT',
 'MOR': 'MORSES LINE, VT',
 'NPV': 'NEWPORT, VT',
 'NRT': 'NORTH TROY, VT',
 'NRN': 'NORTON, VT',
 'PIV': 'PINNACLE ROAD, VT',
 'RIF': 'RICHFORT, VT',
 'STA': 'ST ALBANS, VT',
 'SWB': 'SWANTON, VT (BP - SECTOR HQ)',
 'WBE': 'WEST BERKSHIRE, VT',
 'ABE': 'ABERDEEN, WA',
 'ANA': 'ANACORTES, WA',
 'BEL': 'BELLINGHAM, WA',
 'BLI': 'BELLINGHAM, WASHINGTON #INTL',
 'BLA': 'BLAINE, WA',
 'BWA': 'BOUNDARY, WA',
 'CUR': 'CURLEW, WA (BPS)',
 'DVL': 'DANVILLE, WA',
 'EVE': 'EVERETT, WA',
 'FER': 'FERRY, WA',
 'FRI': 'FRIDAY HARBOR, WA',
 'FWA': 'FRONTIER, WA',
 'KLM': 'KALAMA, WA',
 'LAU': 'LAURIER, WA',
 'LON': 'LONGVIEW, WA',
 'MET': 'METALINE FALLS, WA',
 'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA',
 'NEA': 'NEAH BAY, WA',
 'NIG': 'NIGHTHAWK, WA',
 'OLY': 'OLYMPIA, WA',
 'ORO': 'OROVILLE, WA',
 'PWB': 'PASCO, WA',
 'PIR': 'POINT ROBERTS, WA',
 'PNG': 'PORT ANGELES, WA',
 'PTO': 'PORT TOWNSEND, WA',
 'SEA': 'SEATTLE, WA',
 'SPO': 'SPOKANE, WA',
 'SUM': 'SUMAS, WA',
 'TAC': 'TACOMA, WA',
 'PSC': 'TRI-CITIES - PASCO, WA',
 'VAN': 'VANCOUVER, WA',
 'AGM': 'ALGOMA, WI',
 'BAY': 'BAYFIELD, WI',
 'GRB': 'GREEN BAY, WI',
 'MNW': 'MANITOWOC, WI',
 'MIL': 'MILWAUKEE, WI',
 'MSN': 'TRUAX FIELD - DANE COUNTY, WI',
 'CHS': 'CHARLESTON, WV',
 'CLK': 'CLARKSBURG, WV',
 'BLF': 'MERCER COUNTY, WV',
 'CSP': 'CASPER, WY',
 'XXX': 'NOT REPORTED/UNKNOWN',
 '888': 'UNIDENTIFED AIR / SEAPORT',
 'UNK': 'UNKNOWN POE',
 'CLG': 'CALGARY, CANADA',
 'EDA': 'EDMONTON, CANADA',
 'YHC': 'HAKAI PASS, CANADA',
 'HAL': 'Halifax, NS, Canada',
 'MON': 'MONTREAL, CANADA',
 'OTT': 'OTTAWA, CANADA',
 'YXE': 'SASKATOON, CANADA',
 'TOR': 'TORONTO, CANADA',
 'VCV': 'VANCOUVER, CANADA',
 'VIC': 'VICTORIA, CANADA',
 'WIN': 'WINNIPEG, CANADA',
 'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS',
 'ARB': 'ARUBA, NETH ANTILLES',
 'BAN': 'BANKOK, THAILAND',
 'BEI': 'BEICA #ARPT, ETHIOPIA',
 'PEK': 'BEIJING CAPITAL INTL, PRC',
 'BDA': 'KINDLEY FIELD, BERMUDA',
 'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA',
 'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA',
 'CUN': 'CANCUN, MEXICO',
 'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL',
 'MVD': 'CARRASCO, URUGUAY',
 'DUB': 'DUBLIN, IRELAND',
 'FOU': 'FOUGAMOU #ARPT, GABON',
 'FBA': 'FREEPORT, BAHAMAS',
 'MTY': 'GEN M. ESCOBEDO, Monterrey, MX',
 'HMO': 'GEN PESQUEIRA GARCIA, MX',
 'GCM': 'GRAND CAYMAN, CAYMAN ISLAND',
 'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX',
 'HAM': 'HAMILTON, BERMUDA',
 'ICN': 'INCHON, SEOUL KOREA',
 'IWA': 'INVALID - IWAKUNI, JAPAN',
 'CND': 'KOGALNICEANU, ROMANIA',
 'LAH': 'LABUHA ARPT, INDONESIA',
 'DUR': 'LOUIS BOTHA, SOUTH AFRICA',
 'MAL': 'MANGOLE ARPT, INDONESIA',
 'MDE': 'MEDELLIN, COLOMBIA',
 'MEX': 'JUAREZ INTL, MEXICO CITY, MX',
 'LHR': 'MIDDLESEX, ENGLAND',
 'NBO': 'NAIROBI, KENYA',
 'NAS': 'NASSAU, BAHAMAS',
 'NCA': 'NORTH CAICOS, TURK & CAIMAN',
 'PTY': 'OMAR TORRIJOS, PANAMA',
 'SPV': 'PAPUA, NEW GUINEA',
 'UIO': 'QUITO (MARISCAL SUCR), ECUADOR',
 'RIT': 'ROME, ITALY',
 'SNO': 'SAKON NAKHON #ARPT, THAILAND',
 'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO',
 'SAN': 'SAN SALVADOR, EL SALVADOR',
 'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA',
 'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL',
 'SHA': 'SHANNON, IRELAND',
 'HIL': 'SHILLAVO, ETHIOPIA',
 'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA',
 'VER': 'VERACRUZ, MEXICO',
 'LGW': 'WEST SUSSEX, ENGLAND',
 'ZZZ': 'MEXICO Land (Banco de Mexico)',
 'CHN': 'No PORT Code (CHN)',
 'CNC': 'CANNON CORNERS, NY',
 'MAA': 'Abu Dhabi',
 'AG0': 'MAGNOLIA, AR',
 'BHM': 'BAR HARBOR, ME',
 'BHX': 'BIRMINGHAM, AL',
 'CAK': 'AKRON, OH',
 'FOK': 'SUFFOLK COUNTY, NY',
 'LND': 'LANDER, WY',
 'MAR': 'MARFA, TX',
 'MLI': 'MOLINE, IL',
 'RIV': 'RIVERSIDE, CA',
 'RME': 'ROME, NY',
 'VNY': 'VAN NUYS, CA',
 'YUM': 'YUMA, AZ',
 'FRG': 'Collapsed (FOK) 06/15',
 'HRL': 'Collapsed (HLG) 06/15',
 'ISP': 'Collapsed (FOK) 06/15',
 'JSJ': 'Collapsed (SAJ) 06/15',
 'BUS': 'Collapsed (BUF) 06/15',
 'IAG': 'Collapsed (NIA) 06/15',
 'PHN': 'Collapsed (PHU) 06/15',
 'STN': 'Collapsed (STR) 06/15',
 'VMB': 'Collapsed (VNB) 06/15',
 'T01': 'Collapsed (SEA) 06/15',
 'PHF': 'No PORT Code (PHF)',
 'DRV': 'No PORT Code (DRV)',
 'FTB': 'No PORT Code (FTB)',
 'GAC': 'No PORT Code (GAC)',
 'GMT': 'No PORT Code (GMT)',
 'JFA': 'No PORT Code (JFA)',
 'JMZ': 'No PORT Code (JMZ)',
 'NC8': 'No PORT Code (NC8)',
 'NYL': 'No PORT Code (NYL)',
 'OAI': 'No PORT Code (OAI)',
 'PCW': 'No PORT Code (PCW)',
 'WA5': 'No PORT Code (WAS)',
 'WTR': 'No PORT Code (WTR)',
 'X96': 'No PORT Code (X96)',
 'XNA': 'No PORT Code (XNA)',
 'YGF': 'No PORT Code (YGF)',
 '5T6': 'No PORT Code (5T6)',
 '060': 'No PORT Code (60)',
 'SP0': 'No PORT Code (SP0)',
 'W55': 'No PORT Code (W55)',
 'X44': 'No PORT Code (X44)',
 'AUH': 'No PORT Code (AUH)',
 'RYY': 'No PORT Code (RYY)',
 'SUS': 'No PORT Code (SUS)',
 '74S': 'No PORT Code (74S)',
 'ATW': 'No PORT Code (ATW)',
 'CPX': 'No PORT Code (CPX)',
 'MTH': 'No PORT Code (MTH)',
 'PFN': 'No PORT Code (PFN)',
 'SCH': 'No PORT Code (SCH)',
 'ASI': 'No PORT Code (ASI)',
 'BKF': 'No PORT Code (BKF)',
 'DAY': 'No PORT Code (DAY)',
 'Y62': 'No PORT Code (Y62)',
 'AG': 'No PORT Code (AG)',
 'BCM': 'No PORT Code (BCM)',
 'DEC': 'No PORT Code (DEC)',
 'PLB': 'No PORT Code (PLB)',
 'CXO': 'No PORT Code (CXO)',
 'JBQ': 'No PORT Code (JBQ)',
 'JIG': 'No PORT Code (JIG)',
 'OGS': 'No PORT Code (OGS)',
 'TIW': 'No PORT Code (TIW)',
 'OTS': 'No PORT Code (OTS)',
 'AMT': 'No PORT Code (AMT)',
 'EGE': 'No PORT Code (EGE)',
 'GPI': 'No PORT Code (GPI)',
 'NGL': 'No PORT Code (NGL)',
 'OLM': 'No PORT Code (OLM)',
 '.GA': 'No PORT Code (.GA)',
 'CLX': 'No PORT Code (CLX)',
 'CP': 'No PORT Code (CP)',
 'FSC': 'No PORT Code (FSC)',
 'NK': 'No PORT Code (NK)',
 'ADU': 'No PORT Code (ADU)',
 'AKT': 'No PORT Code (AKT)',
 'LIT': 'No PORT Code (LIT)',
 'A2A': 'No PORT Code (A2A)',
 'OSN': 'No PORT Code (OSN)'}

In [13]:
immigration.head(1)

[Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum=None, airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1')]

In [14]:
#understand number of rows and columns
print(f'count of rows and columns for cities: {c.shape}')
print(f'count of rows and columns for airports: {a.shape}')
print(f'count of rows and columns for immigration: {immigration.count(), len(immigration.columns)}')

count of rows and columns for cities: (2891, 12)
count of rows and columns for airports: (55075, 12)
count of rows and columns for immigration: (3096313, 28)

In [15]:
#understand columns and data types
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    2891 non-null   object
 1   State                   2891 non-null   object
 2   Median Age              2891 non-null   float64
 3   Male Population         2888 non-null   float64
 4   Female Population       2888 non-null   float64
 5   Total Population        2891 non-null   int64
 6   Number of Veterans      2878 non-null   float64
 7   Foreign-born            2878 non-null   float64
 8   Average Household Size  2875 non-null   float64
 9   State Code              2891 non-null   object
 10  Race                    2891 non-null   object
 11  Count                   2891 non-null   int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.2+ KB

In [16]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         55075 non-null  object
 1   type          55075 non-null  object
 2   name          55075 non-null  object
 3   elevation_ft  48069 non-null  float64
 4   continent     27356 non-null  object
 5   iso_country   54828 non-null  object
 6   iso_region    55075 non-null  object
 7   municipality  49399 non-null  object
 8   gps_code      41030 non-null  object
 9   iata_code     9189 non-null   object
 10  local_code    28686 non-null  object
 11  coordinates   55075 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

In [17]:
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   cicid       1000 non-null   float64
 2   i94yr       1000 non-null   float64
 3   i94mon      1000 non-null   float64
 4   i94cit      1000 non-null   float64
 5   i94res      1000 non-null   float64
 6   i94port     1000 non-null   object
 7   arrdate     1000 non-null   float64
 8   i94mode     1000 non-null   float64
 9   i94addr     941 non-null    object
 10  depdate     951 non-null    float64
 11  i94bir      1000 non-null   float64
 12  i94visa     1000 non-null   float64
 13  count       1000 non-null   float64
 14  dtadfile    1000 non-null   int64
 15  visapost    382 non-null    object
 16  occup       4 non-null      object
 17  entdepa     1000 non-null   object
 18  entdepd     954 non-null    object
 19  entdepu     0 non-null      float64
 20  matflag     954 non-null    object
 21  biryear     1000 non-null   float64
 22  dtaddto     1000 non-null   object
 23  gender      859 non-null    object
 24  insnum      35 non-null     float64
 25  airline     967 non-null    object
 26  admnum      1000 non-null   float64
 27  fltno       992 non-null    object
 28  visatype    1000 non-null   object
dtypes: float64(15), int64(2), object(12)
memory usage: 226.7+ KB

In [18]:
c.columns.to_series().groupby(c.dtypes).groups

{int64: ['Total Population', 'Count'], float64: ['Median Age', 'Male Population', 'Female Population', 'Number of Veterans', 'Foreign-born', 'Average Household Size'], object: ['City', 'State', 'State Code', 'Race']}

In [19]:
c.describe()

        Median Age  Male Population  Female Population  Total Population  Number of Veterans  Foreign-born  Average Household Size         Count
count  2891.000000     2.888000e+03       2.888000e+03      2.891000e+03         2878.000000  2.878000e+03             2875.000000  2.891000e+03
mean     35.494881     9.732843e+04       1.017696e+05      1.989668e+05         9367.832523  4.065360e+04                2.742543  4.896377e+04
std       4.401617     2.162999e+05       2.315646e+05      4.475559e+05        13211.219924  1.557491e+05                0.433291  1.443856e+05
min      22.900000     2.928100e+04       2.734800e+04      6.321500e+04          416.000000  8.610000e+02                2.000000  9.800000e+01
25%      32.800000     3.928900e+04       4.122700e+04      8.042900e+04         3739.000000  9.224000e+03                2.430000  3.435000e+03
50%      35.300000     5.234100e+04       5.380900e+04      1.067820e+05         5397.000000  1.882200e+04                2.650000  1.378000e+04
75%      38.000000     8.664175e+04       8.960400e+04      1.752320e+05         9368.000000  3.397175e+04                2.950000  5.444700e+04
max      70.500000     4.081698e+06       4.468707e+06      8.550405e+06       156961.000000  3.212500e+06                4.980000  3.835726e+06

#### Missing values in Cities

In [20]:
def find_missing_data(df):
    '''
    INPUT:
        df - (dataframe), dataframe to check for missing values in its columns
    OUTPUT:
        df_null: (dataframe), with count & percentage of missing values in input dataframe columns
    '''
    null_data = df.isnull().sum()[df.isnull().sum() > 0]
    
    data_dict = {'count': null_data.values, 
                 'pct': np.round(null_data.values *100/df.shape[0],2)}
    
    df_null = pd.DataFrame(data=data_dict, index=null_data.index)
    df_null.sort_values(by='count', ascending=False, inplace=True)
    return df_null

In [21]:
c.isnull().sum().sum() #count of all missing values in Cities

48

In [22]:
find_missing_data(c)

                        count   pct
Average Household Size     16  0.55
Number of Veterans         13  0.45
Foreign-born               13  0.45
Male Population             3  0.10
Female Population           3  0.10

In [23]:
def nans(df): 
    return df[df.isnull().any(axis=1)]

nans(c)

              City        State  Median Age  Male Population  Female Population  Total Population  Number of Veterans  Foreign-born  Average Household Size State Code                               Race   Count
5         San Juan  Puerto Rico        41.4         155408.0           186829.0            342237                 NaN           NaN                     NaN         PR                 Hispanic or Latino  335559
9           Caguas  Puerto Rico        40.4          34743.0            42265.0             77008                 NaN           NaN                     NaN         PR                 Hispanic or Latino   76349
280        Bayamón  Puerto Rico        39.4          80128.0            90131.0            170259                 NaN           NaN                     NaN         PR                 Hispanic or Latino  169155
740   The Villages      Florida        70.5              NaN                NaN             72590             15231.0        4034.0                     NaN         FL                              White   72211
806       San Juan  Puerto Rico        41.4         155408.0           186829.0            342237                 NaN           NaN                     NaN         PR  American Indian and Alaska Native    4031
908   The Villages      Florida        70.5              NaN                NaN             72590             15231.0        4034.0                     NaN         FL          Black or African-American     331
1121      Guaynabo  Puerto Rico        42.2          33066.0            37426.0             70492                 NaN           NaN                     NaN         PR  American Indian and Alaska Native     589
1196      Mayagüez  Puerto Rico        38.1          30799.0            35782.0             66581                 NaN           NaN                     NaN         PR                              Asian     235
1443      Mayagüez  Puerto Rico        38.1          30799.0            35782.0             66581                 NaN           NaN                     NaN         PR                 Hispanic or Latino   65521
1530        Caguas  Puerto Rico        40.4          34743.0            42265.0             77008                 NaN           NaN                     NaN         PR  American Indian and Alaska Native     624
1547  The Villages      Florida        70.5              NaN                NaN             72590             15231.0        4034.0                     NaN         FL                 Hispanic or Latino    1066
1826      San Juan  Puerto Rico        41.4         155408.0           186829.0            342237                 NaN           NaN                     NaN         PR                              Asian    2452
2079      Carolina  Puerto Rico        42.0          64758.0            77308.0            142066                 NaN           NaN                     NaN         PR                 Hispanic or Latino  139967
2284      Carolina  Puerto Rico        42.0          64758.0            77308.0            142066                 NaN           NaN                     NaN         PR  American Indian and Alaska Native   12143
2558      Guaynabo  Puerto Rico        42.2          33066.0            37426.0             70492                 NaN           NaN                     NaN         PR                 Hispanic or Latino   69936
2646         Ponce  Puerto Rico        40.5          56968.0            64615.0            121583                 NaN           NaN                     NaN         PR                 Hispanic or Latino  120705

In [24]:
#missing values comprise less than 1% of Cities data, so it's safe to drop them
c2 = c.dropna(axis=0)
c2.isnull().sum().sum()

0

#### Missing values in Airport

In [25]:
a.isnull().sum().sum() #count of all missing values in Airports

126968

In [26]:
find_missing_data(a)

              count    pct
iata_code     45886  83.32
continent     27719  50.33
local_code    26389  47.91
gps_code      14045  25.50
elevation_ft   7006  12.72
municipality   5676  10.31
iso_country     247   0.45

In [27]:
#dropping columns that are missing over 25% of data
cols = a.columns[a.isnull().sum()/len(a) > .25]
a2 = a.drop(cols,axis=1)
a2.head(2)

  ident           type                  name  elevation_ft iso_country iso_region municipality                         coordinates
0   00A       heliport     Total Rf Heliport          11.0          US      US-PA     Bensalem  -74.93360137939453, 40.07080078125
1  00AA  small_airport  Aero B Ranch Airport        3435.0          US      US-KS        Leoti              -101.473911, 38.704022

In [28]:
#dropping the remaining rows with null values
a2.dropna(axis=0, inplace=True)
a2.isnull().sum().sum() #count of all missing values in Airports

0

#### Missing values in Immigration

In [29]:
type(immigration)

pyspark.sql.dataframe.DataFrame

In [46]:
i2 = immigration[~immigration["i94port"].isin(missing_ports_list)] #filtering out missng ports derived from the SAS file

{col:i2.filter(i2[col].isNull()).count() / i2.count() for col in i2.columns} #checking % of null values in each col

{'cicid': 0.0,
 'i94yr': 0.0,
 'i94mon': 0.0,
 'i94cit': 0.0,
 'i94res': 0.0,
 'i94port': 0.0,
 'arrdate': 0.0,
 'i94mode': 7.729379857947582e-05,
 'i94addr': 0.04910743449916529,
 'depdate': 0.045907341875969,
 'i94bir': 0.0002590474169964859,
 'i94visa': 0.0,
 'count': 0.0,
 'dtadfile': 3.2340501497688625e-07,
 'visapost': 0.6080088664718906,
 'occup': 0.9973755683034625,
 'entdepa': 7.697039356449892e-05,
 'entdepd': 0.0446046664756421,
 'entdepu': 0.999873548639144,
 'matflag': 0.0446046664756421,
 'biryear': 0.0002590474169964859,
 'dtaddto': 0.00015426419214397473,
 'gender': 0.13397279128927997,
 'insnum': 0.9632262625570083,
 'airline': 0.027045391187472068,
 'admnum': 0.0,
 'fltno': 0.0063222446377831495,
 'visatype': 0.0}

In [53]:
i2 = i2.drop("insnum", "entdepu", "occup", "visapost") #dropping extra columns
i2 = i2.dropna(how='any') #dropping null values
{col:i2.filter(i2[col].isNull()).count() / i2.count() for col in i2.columns}

{'cicid': 0.0,
 'i94yr': 0.0,
 'i94mon': 0.0,
 'i94cit': 0.0,
 'i94res': 0.0,
 'i94port': 0.0,
 'arrdate': 0.0,
 'i94mode': 0.0,
 'i94addr': 0.0,
 'depdate': 0.0,
 'i94bir': 0.0,
 'i94visa': 0.0,
 'count': 0.0,
 'dtadfile': 0.0,
 'entdepa': 0.0,
 'entdepd': 0.0,
 'matflag': 0.0,
 'biryear': 0.0,
 'dtaddto': 0.0,
 'gender': 0.0,
 'airline': 0.0,
 'admnum': 0.0,
 'fltno': 0.0,
 'visatype': 0.0}

In [72]:
# Create udf to convert SAS date to PySpark date 
@udf(StringType())
def convert_datetime(x):
    if x:
        return (datetime(1960, 1, 1).date() + timedelta(x)).isoformat()
    return None

In [78]:
i2 = i2.withColumn("arrdate", convert_datetime(i2.arrdate)) #converting arrival_date of SAS format to PySpark format
i2 = i2.filter(i2.i94addr != 'other')

i3 = i2.select(col("cicid").alias("id"), 
                                       col("arrdate").alias("arrival_date"),
                                       col("i94port").alias("port_code"),
                                       col("i94addr").alias("state_code"),
                                       col("i94bir").alias("age"),
                                       col("gender").alias("gender"),
                                       col("i94visa").alias("visa_type"),
                                       "count").drop_duplicates()

i3.head()

Py4JJavaError: An error occurred while calling o1423.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 717.0 failed 1 times, most recent failure: Lost task 3.0 in stage 717.0 (TID 1196) (192.168.1.14 executor driver): org.apache.spark.SparkException:
Error from python worker:
  dyld[24154]: dyld cache '/System/Library/dyld/dyld_shared_cache_x86_64h' not loaded: syscall to map cache into shared region failed
  dyld[24154]: Library not loaded: /System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation
    Referenced from: /Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app/Contents/MacOS/Python
    Reason: tried: '/System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation' (no such file), '/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation' (no such file)
PYTHONPATH was:
  /Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip:/Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/python/lib/py4j-0.10.9.3-src.zip:/Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-core_2.12-3.2.1.jar
org.apache.spark.SparkException: EOFException occurred while reading the port number from pyspark.daemon's stdout and terminated with code: 134.
	at org.apache.spark.api.python.PythonWorkerFactory.startDaemon(PythonWorkerFactory.scala:227)
	at org.apache.spark.api.python.PythonWorkerFactory.createThroughDaemon(PythonWorkerFactory.scala:133)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:106)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkException:
Error from python worker:
  dyld[24154]: dyld cache '/System/Library/dyld/dyld_shared_cache_x86_64h' not loaded: syscall to map cache into shared region failed
  dyld[24154]: Library not loaded: /System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation
    Referenced from: /Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app/Contents/MacOS/Python
    Reason: tried: '/System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation' (no such file), '/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation' (no such file)
PYTHONPATH was:
  /Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip:/Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/python/lib/py4j-0.10.9.3-src.zip:/Users/tatianatikhonova/opt/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-core_2.12-3.2.1.jar
org.apache.spark.SparkException: EOFException occurred while reading the port number from pyspark.daemon's stdout and terminated with code: 134.
	at org.apache.spark.api.python.PythonWorkerFactory.startDaemon(PythonWorkerFactory.scala:227)
	at org.apache.spark.api.python.PythonWorkerFactory.createThroughDaemon(PythonWorkerFactory.scala:133)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:106)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

Immigration = FACT
Airports = DIM
Cities = DIM


#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

Immigration columns:

*  cicid      primary key, id from sas file
*  i94yr      entry year, 4 digit year
*  i94mon     entry month, numeric month
*  i94cit     i94 citizenship country code as per SAS Labels Descriptions file
*   i94res    i94 residence country code as per SAS Labels Descriptions file
*  i94port     i94port code as per SAS Labels Descriptions file
*  arrdate     date of arrival in U.S.
*  i94mode     code for travel mode of arrival as per SAS Labels Descriptions file
*  i94addr     address
*  depdate     departure date from U.S.
*  i94bir      age of the immigrant
*  i94visa     visa category code as per SAS Labels Descriptions file
*  dtadfile    Character Date Field - Date added to I-94 Files - CIC does not use */  
*  visapost    visa category code as per SAS Labels Descriptions file
*  occup       occupation of immigrant
*  entdepa     Arrival Flag - admitted or paroled into the U.S. - CIC does not use
*  entdepd     Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
*  entdepu     Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
*  matflag     Match flag - Match of arrival and departure records
*  biryear     birth year of immigrant
* count        used for summary stats
*  dtaddto     character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use */
*  gender      gender of immigrant
*  insnum      INS number
*  airline     airline code used to arrive in U.S.
*  admnum      admission number
*  fltno       flight number
*  visatype  visa type

In [77]:
fact_immigraions:
|-- cicid: id from sas file
|-- entry_year: 4 digit year
|-- entry_month: numeric month
|-- origin_country_code: i94 country code as per SAS Labels Descriptions file
|-- port_code: i94port code as per SAS Labels Descriptions file
|-- arrival_date: date of arrival in U.S.
|-- travel_mode_code: code for travel mode of arrival as per SAS Labels Descriptions file
|-- us_state_code: two letter U.S. state code
|-- departure_date: departure date from U.S.
|-- age: age of the immigrant
|-- visa_category_code: visa category code as per SAS Labels Descriptions file
|-- occupation: occupation of immigrant
|-- gender: gender of immigrant
|-- birth_year: birth year of immigrant
|-- entry_date: Date to which admitted to U.S. (allowed to stay until)
|-- airline: airline code used to arrive in U.S.
|-- admission_number: admission number
|-- flight_number: flight number
|-- visa_type: visa type
    
dim_city_demographics:
|-- port_code: i94port code
|-- city: U.S. city name
|-- state_code: two letter U.S. sate code
|-- male_population: total male population
|-- female_population: total female population
|-- total_population: total population
|-- number_of_veterans: number of veterans
|-- num_foreign_born: number of foreign born

SyntaxError: invalid syntax (<ipython-input-77-33effe78f7ae>, line 1)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.